@model List<Case>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h3 contenteditable="true">
            Your Cases
        </h3>
    </div>
</div>

<a href="#" class="btn btn-primary" id="addCaseModal">Add Case</a>
<div id="caseSearch" class="float-right">
    <form action="@Url.Action("CaseSearch", "Home")" method="post">
        <div class="input-group">
            <input class="form-control border-secondary py-2" type="search" name="searchInput" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<hr />

<div class="row">
    <table class="table table-striped"  >
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th><span class="float-right">Actions</span></th>
        </tr>
        @foreach (Case item in Model)
        {
            <tr data-caseid="@item.ID" data-userid="@item.UserID">
                <td data-title>@item.Title</td>
                <td data-startdate>@item.StartDate.ToShortDateString()</td>
                <td data-enddate>@(item.EndDate != DateTime.MinValue ? item.EndDate.ToShortDateString() : "Not Finished")</td>
                <td width="20%">
                    <a href="/Home/ShowCase/@item.ID" class="btn btn-info float-right">See More</a>
                    <a href="#" data-id="@item.ID" class="btn btn-info float-right">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
<audio controls="controls" hidden id="jobsDoneAudio">
    <source src="~/Context/Audio/jobs-done_1.mp3" type="audio/mpeg" />
</audio>
@section JS{
    <script>
        //$("#but").click(function () { document.getElementById("jobsDoneAudio").play(); })

        $("#addCaseModal").click(function () {
            $.getJSON('@Url.Action("AddCaseModal","Home")', function (data) {
                $("#modalTarget").html(data.html);
                $(".modal").modal("show");
            });
        });

        $("[data-id]").click(function () {



            var row = $(this).closest("tr");
            var title = row.find("[data-title]").text();
            var startdate = row.find("[data-startdate]").text();
            var enddate = row.find("[data-enddate]").text();
            var caseid = $(row).data("caseid");
            var userid = $(row).data("userid");


            var form = "<tr id='caseRow" + caseid + "'>";
            form += "<td><input type='text' name='Title' placeholder='Title...' value='" + title + "' class='form-control' required autofocus /></td>";
            form += "<td><input type='date' name='StartDate' placeholder='Start Date...' value='" + startdate.split("-").reverse().join("-") + "' class='form-control' required /></td>";
            form += "<td><input type='date' name='EndDate' placeholder='End Date...' value='" + enddate.split("-").reverse().join("-") + "' class='form-control' /></td>";
            form += "<td>";
            form += "<input type='hidden' name='ID' value='" + caseid + "' />";
            form += "<input type='hidden' name='UserID' value='" + userid + "' />";
            form += "<button class='btn btn-success float-right' id='saveCase" + caseid +"' type='submit'>Save</button>"
            form += "</td>";
            form += "</tr>"
            row.replaceWith(form);

            var holder = row.html();
            console.log(holder);

            $("#saveCase" + caseid).click(function () {
                $.ajax({
                    url: '@Url.Action("EditCase","Home")',
                    data: $("#caseRow" + caseid + " :input").serialize(),
                    method: 'POST',
                    success: function () {
                        window.location = '@Url.Action("Index", "Home")';
                    }
                });
            });
        });
    </script>
}